.icon {
    font-size: 20px;
    padding-right: 10px;
}

.card-img{
    position: relative;   
    overflow: hidden; 
}

.card-img:hover .my-href{
    top: 0;
    bottom: 0;
}
.my-href{
    background-color: tomato;
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    bottom:100% ;
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: .5;
    color: aliceblue;
    transition: all 1s;

}