body {
    background-color: black;
    color: white;
}
/* profile */
.hire-me {
    border-color: aqua !important;
    padding: 10px 10px !important;
    width: fit-content !important;
}

.hire-me:hover {
    background-color: aqua;
    border-color: white !important;

}

.hire-me:hover a {
    color: white !important;
}

.bg-dark-50 {
    background-color: #2a2a2a;
}

.bg-dark-25 {
    background-color: #1c1c1c;
}

hr{
    width: 20%;
    margin: auto;
}
.rounded-pro{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.bg-offwhite{
background-color: #e6e6e6;
}

.skill-card{
    background-color: #323232;
    border-radius: 10%;

}
.my-container{
    width: 60%;
    margin: auto;
}
.bg-newdark{
    border-radius: 10px;
    background-color: #323232;
    overflow: hidden;
}
